@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    overflow: hidden;
}

.bg{
    background: url('https://images-wp.stockx.com/news/wp-content/uploads/2022/02/aime-leon-dore-new-balance-993-fw21-2-1.jpeg')
    no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}